<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Добавить пользователя </title>
</head>
<body>
<h1>Добавить нового пользователя</h1>
<form action="#" th:action="@{/users/add}" th:object="${user}" th:method="POST">
    <!--    <input type="hidden" th:field="*{id}" th:value="*{id}"/>-->
    <p>Имя: <input type="text" th:field="*{firstName}"  th:charset="utf-8"/></p>
    <p>Фамилия: <input type="text" th:field="*{lastName}" /></p>
    <p>Почта: <input type="text" th:field="*{email}"  th:charset="utf-8"/></p>
<!--    <p>Машина: <input type="text" th:field="*{car}" /></p>-->
    <p><input type="submit" value="Добавить пользователя"/></p>
</form>
</body>
</html>